#box {
    width: 320px;
    height: 320px;
    box-sizing: content-box;

}
.grid {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.cell {
    box-sizing: border-box;
    border: 1px dotted gray;
}
